body{
    background-color: #007bff;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.logo img{
    width: 400px;
    height: 400px;
}